.metadata
ZKs
DSS Core Business/bin/*
DSS Core Business/.settings/*
DSS Core Business Test/bin/*
DSS Core Business Test/.settings/*
DSS Web Application/build/*
DSS Web Application/.settings/*
DSS Web Application/WebContent/WEB-INF/lib/*
DSS Web Application Test/bin/*
DSS Web Application Test/.settings/*